USE [master]
GO
/****** Object:  Database [DM_Northwind]    Script Date: 19-03-2020 18:11:33 ******/
CREATE DATABASE [DM_Northwind]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DM_Northwind', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\DM_Northwind.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DM_Northwind_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\DM_Northwind_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DM_Northwind].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DM_Northwind]
GO
/****** Object:  UserDefinedFunction [dbo].[GetEmployeeSales]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetEmployeeSales]()  
 RETURNS NVARCHAR(MAX)  
AS  
BEGIN  
   RETURN (SELECT FirstName, SUM(SalesAmount) AS Sum
   FROM F_Sales f
   JOIN dim_employee e ON f.E_ID = e.E_ID
   GROUP BY FirstName  
           FOR JSON AUTO)  
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetEmployeeSales2]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetEmployeeSales2](@lname nvarchar(20))  
 RETURNS NVARCHAR(MAX)  
AS  
BEGIN  
   RETURN (SELECT FirstName, SUM(SalesAmount) AS Sum
   FROM F_Sales f
   JOIN dim_employee e ON f.E_ID = e.E_ID
   WHERE LastName = @lname
   GROUP BY FirstName  
           FOR JSON AUTO)  
END
GO
/****** Object:  Table [dbo].[changed_product]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[changed_product](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[UnitPrice] [money] NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[SupplierName] [nvarchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Date]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Date](
	[D_ID] [int] IDENTITY(1,1) NOT NULL,
	[CalendarDate] [datetime] NULL,
	[WeekDayName] [nvarchar](50) NULL,
	[MonthName] [nvarchar](50) NULL,
	[WeekdayNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[D_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_customer]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_customer](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nchar](5) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NOT NULL,
	[ContactTitle] [nvarchar](30) NOT NULL,
	[City] [nvarchar](15) NOT NULL,
	[Region] [nvarchar](15) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[Country] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_dim_customer] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_employee]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_employee](
	[E_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](10) NOT NULL,
	[Title] [nvarchar](30) NOT NULL,
	[City] [nvarchar](15) NOT NULL,
	[Country] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_dim_Employee] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_product]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_product](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[SupplierName] [nvarchar](40) NULL,
 CONSTRAINT [PK_dim_product] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[F_Sales]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F_Sales](
	[D_ID] [int] NOT NULL,
	[C_ID] [int] NOT NULL,
	[P_ID] [int] NOT NULL,
	[E_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SalesAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_F_Sales] PRIMARY KEY CLUSTERED 
(
	[D_ID] ASC,
	[C_ID] ASC,
	[P_ID] ASC,
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LastUpdate]    Script Date: 19-03-2020 18:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastUpdate](
	[LastUpdate] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[changed_product] ([ProductID], [ProductName], [UnitPrice], [CategoryName], [SupplierName]) VALUES (14, N'Tofu', 23.2500, N'Produce', N'Tokyo Traders')
SET IDENTITY_INSERT [dbo].[D_Date] ON 

INSERT [dbo].[D_Date] ([D_ID], [CalendarDate], [WeekDayName], [MonthName], [WeekdayNumber]) VALUES (1, CAST(N'1996-01-01T00:00:00.000' AS DateTime), N'Monday', N'January', 2)
INSERT [dbo].[D_Date] ([D_ID], [CalendarDate], [WeekDayName], [MonthName], [WeekdayNumber]) VALUES (2, CAST(N'1996-01-02T00:00:00.000' AS DateTime), N'Tuesday', N'January', 3)
INSERT [dbo].[D_Date] ([D_ID], [CalendarDate], [WeekDayName], [MonthName], [WeekdayNumber]) VALUES (3, CAST(N'1996-01-03T00:00:00.000' AS DateTime), N'Wednesday', N'January', 4)
GO
SET IDENTITY_INSERT [dbo].[D_Date] OFF
SET IDENTITY_INSERT [dbo].[dim_customer] ON 

INSERT [dbo].[dim_customer] ([C_ID], [CustomerID], [CompanyName], [ContactName], [ContactTitle], [City], [Region], [PostalCode], [Country]) VALUES (312, N'ALFKI', N'Alfreds Futterkiste', N'Maria Anders', N'Sales Representative', N'Berlin', N'No Value', N'12209', N'Germany')
INSERT [dbo].[dim_customer] ([C_ID], [CustomerID], [CompanyName], [ContactName], [ContactTitle], [City], [Region], [PostalCode], [Country]) VALUES (313, N'ANATR', N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Owner', N'México D.F.', N'No Value', N'05021', N'Mexico')
INSERT [dbo].[dim_customer] ([C_ID], [CustomerID], [CompanyName], [ContactName], [ContactTitle], [City], [Region], [PostalCode], [Country]) VALUES (314, N'ANTON', N'Antonio Moreno Taquería', N'Antonio Moreno', N'Owner', N'México D.F.', N'No Value', N'05023', N'Mexico')
SET IDENTITY_INSERT [dbo].[dim_customer] OFF
SET IDENTITY_INSERT [dbo].[dim_employee] ON 

INSERT [dbo].[dim_employee] ([E_ID], [EmployeeID], [LastName], [FirstName], [Title], [City], [Country]) VALUES (19, 1, N'Davolio', N'Nancy', N'Sales Representative', N'Seattle', N'USA')
INSERT [dbo].[dim_employee] ([E_ID], [EmployeeID], [LastName], [FirstName], [Title], [City], [Country]) VALUES (20, 2, N'Fuller', N'Andrew', N'Vice President, Sales', N'Tacoma', N'USA')
INSERT [dbo].[dim_employee] ([E_ID], [EmployeeID], [LastName], [FirstName], [Title], [City], [Country]) VALUES (21, 3, N'Leverling', N'Janet', N'Sales Representative', N'Kirkland', N'USA')
SET IDENTITY_INSERT [dbo].[dim_employee] OFF
SET IDENTITY_INSERT [dbo].[dim_product] ON 

INSERT [dbo].[dim_product] ([P_ID], [ProductID], [ProductName], [CategoryName], [SupplierName]) VALUES (160, 2, N'Chang', N'Beverages', N'Exotic Liquids')
INSERT [dbo].[dim_product] ([P_ID], [ProductID], [ProductName], [CategoryName], [SupplierName]) VALUES (161, 3, N'Aniseed Syrup', N'Condiments', N'Exotic Liquids')
INSERT [dbo].[dim_product] ([P_ID], [ProductID], [ProductName], [CategoryName], [SupplierName]) VALUES (162, 4, N'Chef Anton''s Cajun Seasoning', N'Condiments', N'New Orleans Cajun Delights')
SET IDENTITY_INSERT [dbo].[dim_product] OFF
INSERT [dbo].[F_Sales] ([D_ID], [C_ID], [P_ID], [E_ID], [Quantity], [SalesAmount]) VALUES (186, 396, 169, 23, 12, CAST(168.00 AS Decimal(18, 2)))
INSERT [dbo].[F_Sales] ([D_ID], [C_ID], [P_ID], [E_ID], [Quantity], [SalesAmount]) VALUES (186, 396, 200, 23, 10, CAST(98.00 AS Decimal(18, 2)))
INSERT [dbo].[F_Sales] ([D_ID], [C_ID], [P_ID], [E_ID], [Quantity], [SalesAmount]) VALUES (186, 396, 230, 23, 5, CAST(174.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[LastUpdate] ([LastUpdate]) VALUES (CAST(N'1997-12-31T00:00:00.000' AS DateTime))
ALTER TABLE [dbo].[F_Sales]  WITH CHECK ADD  CONSTRAINT [FK_F_Sales_D_Date] FOREIGN KEY([D_ID])
REFERENCES [dbo].[D_Date] ([D_ID])
GO
ALTER TABLE [dbo].[F_Sales] CHECK CONSTRAINT [FK_F_Sales_D_Date]
GO
ALTER TABLE [dbo].[F_Sales]  WITH CHECK ADD  CONSTRAINT [FK_F_Sales_dim_customer] FOREIGN KEY([C_ID])
REFERENCES [dbo].[dim_customer] ([C_ID])
GO
ALTER TABLE [dbo].[F_Sales] CHECK CONSTRAINT [FK_F_Sales_dim_customer]
GO
ALTER TABLE [dbo].[F_Sales]  WITH CHECK ADD  CONSTRAINT [FK_F_Sales_dim_employee] FOREIGN KEY([E_ID])
REFERENCES [dbo].[dim_employee] ([E_ID])
GO
ALTER TABLE [dbo].[F_Sales] CHECK CONSTRAINT [FK_F_Sales_dim_employee]
GO
ALTER TABLE [dbo].[F_Sales]  WITH CHECK ADD  CONSTRAINT [FK_F_Sales_dim_product] FOREIGN KEY([P_ID])
REFERENCES [dbo].[dim_product] ([P_ID])
GO
ALTER TABLE [dbo].[F_Sales] CHECK CONSTRAINT [FK_F_Sales_dim_product]
GO
USE [master]
GO
